#connexion {
	background-image: url(../img/splash.jpg);
}

.head-title{
	background-color: #20c7a1 !important;
}
/* .btn {
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
 */
.button-login{
	background-color: #20c7a1 !important;
}




.fond-left{
	width: 30%;

}

.logo{
	width: 250px;
	height: 250px;
	-webkit-mask-image:-webkit-gradient(linear, left top, left bottom,
		from(rgba(0,0,0,1)), to(rgba(0,0,0,1)));

}

.fond-middle{
	width: 30%;
}

.logoText{
	height: 130px;
	-webkit-mask-image:-webkit-gradient(linear, left top, left bottom,
		from(rgba(0,0,0,0.3)), to(rgba(0,0,0,1)));
	margin-right: 25px;
	margin-left: 50px;
}


.fond-right{
	float: right;
	width: 100%;
	width: 400px;
	background-image: url(../img/splash.jpg);
	-webkit-mask-image:-webkit-gradient(linear, left top, left bottom,
		from(rgba(0,0,0,0.3)), to(rgba(0,0,0,1)));

}

.text{
	color: white;
	font-size: 16px;
}

.socialButton{
	height: 40px;
	width: 177px;
	font-size: 16px;
}

.champInscrit{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.champOnly{
	background-color:rgba(0,0,0,0.5);
	height: 40px;
	font-size: 16px;
	color: white;
}

.boutonOnly{
	height: 45px;
}

.partiLeft{
	background-color: red;
	background-image: url(../img/splash.jpg);
	height: 100px;
	width: 100px;
}

.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}
.card-thumbnail {
    width: 150px !important;
    height: 80px !important;
    box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    z-index: 1;
}
.modal-dialog.modal-dialog-templates {
    width: 250px;
		margin-left: 800px;
}
