.main-block{
	height: 360px;
	width: 600px;
}
.main-card{
	height: 360px;
	width: 600px;
}
.avatar-block{
	height: 200px;
	width: 100%;
}
.avatar-image{
	background-repeat: no-repeat;
	height: 200px;width: 200px;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 50%;
	border: 1px solid white;
	overflow: hidden;
}
.user-avatar-infos{
	height: 200px;
	width: 100%;
	padding-top: 10px;
}
.profile-infos{
	margin-left: 50px;
}
.username{
	height: 200px;
	display: table-cell;
	vertical-align: middle;
	font-size: 20pt;
}
.full-infos{
	height: 104px;
	font-size: 14pt;
	margin-left: 15px;
	margin-top: 5px;
}
.social-list{
	margin-left: 30px;
	margin-bottom: 0px;
}
.card-actions{
	width: 30px;
	margin-top: 30px;
	float: right;
	margin-right: 10px;

}
.icon-action{
	margin-top: 10px;
}
