<div class="container content-profil-page">
	<div class="row">
		<div class="col-lg-6 left-profil">
			<div class="card-profil-ivi">
				<div class="maCarte">
					<ivicard card="user_card" ></ivicard>
				</div>
				<div class="row">
					<div class="mesStatistiques">
						<div class="panel with-nav-tabs panel-info">
			                <div class="panel-heading profil-tab">
			                    <label data-toggle="tab">Mes statistiques Cartes</label>
			                </div>
			                <div class="panel-body">
			                    <div class="tab-content">
				                    <div class="row titre-table-profil">
					                    <div class="col-xs-4 col-sm-4 col-md-4">
					                    	<div>
					                    		<img id="logo-button-profil" src="img/svg/icon-card-received.svg"/>
					                    	</div>
					                        <label>Recue(s)</label>
				                        </div>
				                        <div class="col-xs-4 col-sm-4 col-md-4">
				                        	<div>
				                        		<img id="logo-button-profil" src="img/svg/icon-card-sent.svg" />
				                        	</div>
				                        	<label>Echangée(s)</label>
				                        </div>
				                        <div class="col-xs-4 col-sm-4 col-md-4">
				                        	<div>
				                        		<img id="logo-button-profil" src="img/svg/icon-card-recipro.svg"/>
				                        	</div>
				                        	<label>Réciproque(s)</label>
				                        </div>
				                    </div>
				                    <div class="row resultat-table-profil">
					                    <div class="col-xs-4 col-sm-4 col-md-4">
					                        <label>{{countOwned}}</label>
				                        </div>
				                        <div class="col-xs-4 col-sm-4 col-md-4">
				                        	<label>{{countShared}}</label>
				                        </div>
				                        <div class="col-xs-4 col-sm-4 col-md-4">
				                        	<label>{{countReciprocal}}</label>
				                        </div>
				                    </div>
			                    </div>
			                </div>
	            		</div>
					</div>
				</div>
				<div class="row mesBoutons">
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6">
							<button class="btn btn-sg btn-default btn-block" id="buttonCard"
							type="button" data-animation="am-fade-and-slide-top"
							data-template-url="templates/modal_templates.html" bs-modal="modal"><img  id="logo-button-profil" src="img/svg/icon-search.svg" />Choisir son fond de carte
							</button>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6">
							<a href="#/shop" class="btn btn-sg btn-default btn-block" id="buttonCard" type="button" ><img id="logo-button-profil" src="img/svg/icon-cartes.svg" />Shop
			        		</a>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6">
							<a href="#/contact" class="btn btn-sg btn-default btn-block" id="buttonCard" type="button" ><img id="logo-button-profil" src="img/svg/icon-folders.svg" />Store
			        		</a>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6">
							 <a href="#" class="btn btn-sg btn-default btn-block" id="buttonCard" type="button" ><img id="logo-button-profil" src="img/svg/icon-share2.svg" />Partager ma carte
			        		</a>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6">
							<a href="#/settings" class="btn btn-sg btn-default btn-block" id="buttonCard" type="button" ><img id="logo-button-profil" src="img/svg/icon-settings.svg" />Réglages
			        		</a>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6">
							<a href="#" ng-click="logout()" class="btn btn-sg btn-default btn-block" id="buttonCard" type="button" ><img id="logo-button-profil" src="img/svg/icon-deconnexion.svg" />Deconnecter
			        		</a>
						</div>
					</div>
	             <!--fin div bouton-->
                </div>
			<!--fin div card-profil-ivi-->
			</div>
		<!--fin div col-lg-6-->
		</div>
		<div class="col-lg-offset-1 col-lg-5 right-profil">

				<form  id="signForm" name="signForm" ng-submit="update()" role="form" novalidate>
					<legend id="titre">Profil</legend>
			        <div class="form-group col-xs-12 col-sm-12 col-md-12">
			            <div class="alert alert-success" role="alert" ng-if="success.message">
									{{success.message}}
			           	</div>
			        </div>
					<div class="form-group col-xs-6 col-sm-6 col-md-6">
		             	<div class="input-group">
		                    <span class="input-group-addon ">
		                		<img class="icon-form" src="img/svg/icon-nom.svg"/>
		                    </span>
		                    <input type="text" ng-model="user.last_name" class="form-control champOnly" name="lastname" placeholder="Nom(Obligatoire)" />
		                </div>
	            	</div>
	            	<div class="form-group col-xs-6 col-sm-6 col-md-6">
		             	<div class="input-group">
		                    <span class="input-group-addon">
		                    	<img class="icon-form" src="img/svg/icon-prenom.svg"/>
		                    </span>
		                    <input type="text" class="form-control champOnly" ng-model="user.first_name" name="firstname" placeholder="Prénom(Obligatoire)" />
		                </div>
					</div>
					<div class="form-group col-xs-12 col-sm-12 col-md-12">
			            <div class="alert alert-danger" role="alert" ng-if="err.message">
									{{err.message}}
			           	</div>
			        </div>
					<div class="form-group col-xs-6 col-sm-6 col-md-6">
						<label id="titre">Importer votre avatar</label>
					</div>
					<div class="form-group col-xs-12 col-sm-12 col-md-12">
						<div class="input-group ">
							<input id="avatar" type="file" accept=".jpg,.png,.doc,.gif,.pdf,.svg,.jpeg" for="upload" class="btn btn-default" file-upload="" ng-click="addFile()" />
						</div>
					</div>
					<div class="form-group col-xs-6 col-sm-6 col-md-6">
		                <div class="input-group">
		                   <span class="input-group-addon">
		                   		<img class="icon-form" src="img/svg/icon-phone.svg"/>
		                   </span>
		                   <input type="phone" class="form-control champOnly" ng-model="user.phone1" name="phone" placeholder="Tél" />
		                </div>
           			</div>
           			<div class="form-group col-xs-6 col-sm-6 col-md-6">
		                <div class="input-group">
		                   <span class="input-group-addon">
		                   		<img class="icon-form" src="img/svg/icon-phone2.svg"/>
		                   </span>
		                   <input type="phone2" class="form-control champOnly" name="phone2" ng-model="user.phone2" placeholder="Tél 2" />
		                </div>
            		</div>
            		<div class="form-group col-xs-6 col-sm-6 col-md-6">
		                <div class="input-group">
		                   <span class="input-group-addon">
		                   		<img class="icon-form" src="img/svg/icon-job.svg"/>
		                   </span>
		                   <input type="school" class="form-control champOnly" name="school" ng-model="user.job" placeholder="Poste / Etude / Classe" />
		                </div>
            		</div>
            		<div class="form-group col-xs-6 col-sm-6 col-md-6">
		                <div class="input-group">
		                   <span class="input-group-addon">
		                   		<img class="icon-form" src="img/svg/icon-entreprise.svg"/>
		                   </span>
		                   <input type="society" class="form-control champOnly" name="society" ng-model="user.company" placeholder="Société / Université / Lycée" />
		                </div>
            		</div>
					<div class="form-group col-xs-6 col-sm-6 col-md-6">
		                <div class="input-group">
		                	<span class="input-group-addon ">
		                		<img class="icon-form" src="img/svg/icon-email2.svg"/>
		                    </span>
		                    <input type="text" class="form-control champOnly"  name="email" ng-model="user.email" placeholder="Mail" />
		                </div>
            		</div>
            		<div class="form-group col-xs-6 col-sm-6 col-md-6">
		                <div class="input-group">
		                   <span class="input-group-addon">
		                   		<img class="icon-form" src="img/svg/icon-email2.svg"/>
		                   </span>
		                   <input type="email" class="form-control champOnly" name="mail2"  ng-model="user.email2" placeholder="Mail 2" />
		                </div>
            		</div>
            		<div class="form-group col-xs-6 col-sm-6 col-md-6">
		                <div class="input-group">
		                   <span class="input-group-addon">
		                   		<img class="icon-form" src="img/svg/icon-localisation.svg"/>
		                   </span>
		                   <input type="text" class="form-control champOnly" name="Localisation" ng-model="user.localisation" placeholder="Localisation"/>
		                </div>
            		</div>
            		<div class="form-group col-xs-6 col-sm-6 col-md-6">
		                 <div class="input-group">
		                    <span class="input-group-addon">
		                    	<img class="icon-form" src="img/svg/icon-url.svg"/>
		                    </span>
		                    <input type="text" class="form-control champOnly" name="web" ng-model="user.website" placeholder="Site internet" />
		                 </div>
            		</div>
            		<div class="form-group col-xs-12 col-sm-12 col-md-12" ng-class="{'has-error': datepickerForm.date.$invalid}">
									<div class="input-group">
		                    <span class="input-group-addon">
		                    	<img class="icon-form" src="img/svg/icon-age.svg"/>
		                    </span>
		                   <input class="form-control champOnly" name="birthday" ng-model="user.birth_date" bs-datepicker type="text" language="fr" data-format="dd-mmmm-yyyy" placeholder="Date de naissance"  />
		            	</div>
            		</div>
            		<div class="row onl_row-sm-12 onl_socialButtons">
									<div ng-repeat="social in social_networks">
										<social name="social"></social>
									</div>
								</div><br>
					<div class="form-group col-xs-12 col-sm-12 col-md-12">
						<div class="progress">
			            	<div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
			                <span class="sr-only">20% Complete (info)</span>
							</div>
			            	<span class="progress-type">Remplissage de votre profil</span>
			            	<span class="progress-completed">20%</span>
			        	</div>
			        </div>
		        	<div class="form-group col-xs-6 col-sm-6 col-md-6">
		        		<button class="btn btn-sg btn-default btn-block" type="submit"><img id="logo-button-profil" src="img/svg/icon-check.svg"/>
               			 Valider
            			</button>
		        	</div>
				<!--fin form-->
				</form>
			<!--fin div au dessus form-->

		<!--fin div col-lg-6-->
		</div>
	<!--fin div row-->
	</div>
<!--fin div container-->
</div>
