<!DOCTYPE html>
<html>
	<head>

		<!-- AngularJS script files (v1.5.7) -->
	    <script src = "lib/js/angular.js"></script>
	    <script src = "lib/js/angular-route.js"></script>
	    <script src = "lib/js/angular-cookies.js"></script>
	    <script src="lib/js/angular-animate.js"></script>

	    <!-- AngularStrap js files -->
	    <script src="lib/js/angular-strap.js"></script>
		<script src="lib/js/angular-strap.tpl.js"></script>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins)
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script><-->
		<script src="lib/js/jquery-2.2.4.js"></script>

		<!-- BootStrap script file
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>-->
		<script src="lib/js/bootstrap.js"></script>
		<script src="lib/js/ui-bootstrap-tpls-1.3.3.min.js"></script>

		<!-- <script src="lib/js/bootstrap-datetimepicker.min.js"></script>
		<script src="lib/js/bootstrap-datetimepicker.fr.js"></script>
			       -->
	    <!-- lodash module -->
	    <script src="node_modules/lodash/lodash.js"></script>

	    <!-- AngularJS app file -->
	    <script src="js/app.js"></script>
	    <script src="lib/js/angular-base64.js"></script>

	    <!--controllers -->
	    <script src="js/main_ctrl.js" ></script>
	    <script src="js/controllers/login_ctrl.js"></script>
	    <script src="js/controllers/shop_ctrl.js"></script>
	    <script src="js/controllers/store_ctrl.js"></script>

	    <!-- Factories -->
	    <script src="js/factories/me_facto.js"></script>
	    <script src="js/factories/shop_facto.js"></script>
	    <script src="js/factories/cards_facto.js"></script>
	    <script src="js/factories/file_facto.js"></script>
			<script src="js/factories/search_facto.js"></script>

	    <!-- directives-->
	    <script src="js/directives/card.directive.js"></script>
	    <script src="js/directives/cardProfil.directive.js"></script>
	    <script src="js/directives/file.directive.js"></script>
			<script src="js/directives/social.directive.js"></script>

	    <!-- filters -->
	    <script src="js/filters/search.filter.js"></script>

	    <!-- Style Sheets -->

	    <!-- For Bootstrap
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->
		<link href="lib/css/bootstrap.css" rel="stylesheet">


		<!-- Optional theme for Bootstrap-->
		<link href="lib/css/bootstrap-theme.css" rel="stylesheet">

		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="lib/css/font-awesome.css" rel="stylesheet">

      	<!-- Style sheets for AngularStrap -->
		<link href="lib/css/angular-motion.css" rel="stylesheet">


		<!-- Application Style Sheets -->
		<link href="css/style.css" rel="stylesheet">
		<link href="css/aside.css" rel="stylesheet">
	    <link href="css/_login.css" rel="stylesheet">
	    <link href="css/store.css" rel="stylesheet">
	    <link href="css/shop.css" rel="stylesheet">
	    <link href="css/aside_contacts.css" rel="stylesheet">
	    <link href="css/profil.css" rel="stylesheet">
	    <link rel="stylesheet" type="text/css" href="css/card.css">
	    <link href="css/home.css" type="text/css" rel="stylesheet">


	</head>
	<!-- Chargement du module principal au travers de la directive ng-app
	et initialisation du contrôleur principal -->
	<body ng-app="ivipulse" ng-controller="main_ctrl" data-spy="scroll">
		<div class="container-fluid bar-global">
		<nav class="navbar navbar-inverse" role="navigation" bs-navbar>
			<div class="container">
				<div class="navbar-header">
			          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-3">
			            <span class="sr-only">Toggle navigation</span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			          </button>
			          <a class="navbar-brand bar-icon-logo" href="#/profil" data-target="#profil">
				          <div >
				          	<img src="img/icon-ivipulse.png" class="bar-icon-logo"/>
				          </div>
			          </a>
			        <!-- fin div class="navbar-header"  -->
			    </div>
		        <div class="collapse navbar-collapse" id="navbar-collapse-3">
		          <ul class="nav navbar-nav navbar-right">
					<li><a href="#/profil">Home</a></li>
				    <li><a href="#/shop">Shop</a></li>
				    <li><a href="#/profil">Profil</a></li>
				    <li><a href="#/store">Contacts</a></li>
				    <li><input class="textRechercher" type="text" ng-model="contacts_filter" placeholder="Recherche">
				    </li>
				    <li>
				    	<button type="button" class="buttonRechercher" data-template-url="./templates/aside.search.html" data-placement="left" data-animation="am-slide-left" bs-aside="aside" data-container="body">Rechercher</button>
				    </li>
				    <li class="boutonLogout">
						<a href="#" ng-click="logout()" ng-show="loggedIn">Logout</a>
					</li>
					<li class="barreBienvenue" ng-show="loggedIn">
						<span>Bienvenue  &nbsp&nbsp{{globals.currentUser.first_name}} &nbsp{{globals.currentUser.last_name}}
						</span>
					</li>
		          </ul>
				<!-- fin class="collapse navbar-collapse"  -->
				</div>
			<!-- fin div class="container"  -->
			</div>
		</nav>
		<!-- Emplacement des vues des différentes pages définies dans la table de routage
		au travers de la directive ng-view
		-->
		<div ng-view></div>
	</div>
  </body>
  <link href='https://api.ivipulse.com/templates/all.css' rel='stylesheet'>

</html>
