<div class="modal top right am-fade-and-slide-top" tabindex="-1"
role="dialog" style="z-index: 1050; display: block;">
  <div class="modal-dialog modal-dialog-templates">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-1">
              <ul class="hide-bullets" >
                <li class="col-lg-3" ng-repeat="template in user.premium_cards track by template">
                  <a class="thumbnail card {{template}}" ng-click="select_template(template);">
                  </a>
                </li>
              </ul>

<!--
              <span>Voici les cartes : {{user.premium_cards}}</span><br><br><br>

              <div class="col-lg-3" ng-repeat="template in user.premium_cards">
                <a class="card-thumbnail card {{template}}" ng-click="" >
                  bonjour {{template}}
                    <img class = "imgAvatar" src="{{user.avatar}}" alt="imgAvatar">
                    <div ng-switch = "isAdded(template)" ng-click = "ajouteFond(template)">
                        <img  ng-switch-when=false class="plusOkIcon" src="img/plus.jpg" alt="plus">
                        <img ng-switch-when=true class="plusOkIcon" src="img/ok.jpg" alt="ok">
                    </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
