<div class="col-xs-2 col-sm-2">
  <a class="btn btn-lg btn-block onl_btn-{{name}}" data-toggle="modal" data-placement="top" title="name" data-target="#modal{{name}}">
    <img src="img/{{name}}2.png"/>
    <span class="hidden-xs"></span>
  </a>
</div>
<!-- modal -->
<div class="modal fade" id="modal{{name}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header1">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <table id="popuSocial" border="0">
            <tr>
                <td>
                    <p class="p1">
                    <span class="modal-title" id="myModalLabel">
                        Compte {{name}}
                    </span>
                    <a href="#/helpSocial"><button class="btn btn-default btn-sg" ng-click="aideFacebook()">Aide
                    </button></a>
                    </p>
                    <p class="p2"><span>
                    <form id="formFacebook" ng-submit="enregistreFacebook()">
                      <div class="form-group">
                          <input type="texte" name="popup{{name}}" ng-model="user.social"/>
                          <button class="btn btn-default" ng-click ="VerifSocial()" >Verifier</button>
                      </div>
                      </span></p>
                      <div class="form-group">
                      <p class="p2">
                      <span>
                        Appuyer sur vérifier:</span></p>
                        <p class="p2">
                        <span> Si votre compte apparaît dans la fenêtre qui s'ouvre, vous pouvez valider
                        </span>
                        </p>
                      </div>
                      <div>
                        <button class="btn btn-default" ng-click ="update()">Valider</button>
                      </div>
                    </form>
                </td>
            </tr>
        </table>
      </div>
  </div>
</div>
